# dependencies
/node_modules
/.pnp
.pnp.js

# python & virtual environments
.venv/
pyruntime/
__pycache__/
*.py[cod]
.pytest_cache/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# databases
*.db
*.sqlite3

# ide
.vscode/
.idea/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

